//===============================================================================
// MEDIA-QUERIES
//===============================================================================

//===============================================================================
// iPAD STYLES
//===============================================================================
@media screen and (max-width: 1000px) {

  // BASICS
  .visible-tablet{
    display: block!important;
  }
  .hidden-tablet{
    display: none!important;
  }
  .hidden-desktop{
    display: block!important;
  }
}

//===============================================================================
// iPHONE STYLES
//===============================================================================
@media screen and (max-width: 650px) {

  // GRID
  html {
    font-size: 0.875em;
    -webkit-text-size-adjust:100%;
  }
  .grid {
    margin-left: 0;
    max-width: none;
  }
  .unit {
    width: auto;
    margin-left: 0;
    display: block;
  }
  .hidden-phone{
    display: none!important;
  }
  .hidden-desktop{
    display: block!important;
  }

  // BASICS
  body{
    font-size: 0.875em;
  }
  h1, .h1 {
    font-size: 36px; 
  }
  h2, .h2 {
    font-size: 22px;
  }
  h3, .h3 {
    font-size: 18px;
  }
  h4, .h4 {
    font-size: 16px;
  }
  h5, .h5 {
    margin-top: 20px;
    font-size: 14px;
  }
  h6, .h6 {
    margin-top: 20px;
    font-size: 12px;
  }
  p {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
  } 

  // .hero-wrap
  .hero-wrap{
    height: 350px;
    & h1{
      text-align: center;
      color: white;
      margin-top: 70px;
      font-weight: 300;
      color: rgba(255,255,255,0.8);
      z-index: 2;
    }
    & img{
      margin: 10px auto;
      display: table;
      width: 200px;
      height: auto;
      z-index: 2;
    }
  }
  // /.hero-wrap

  // .intro-wrap
  .intro-wrap{
    padding: 0px 0;

    & h1{
      font-size: 38px;
      padding: 0;
    }

  }
  // /.intro-wrap

  // .compare-wrap
  .compare-wrap{
    background: $pc-pink;
    padding: 80px 0 40px;
    
    & .container{
      padding: 0;
    }

    & .features{
      width: 100%;
      padding: 120px 30px 40px;
      padding: 120px 1.5rem 40px;

      & .btn{
        font-size: 14px;
      }

      &.features-code{
        background-color: $pc-pink;
        width: 100%;
        background-size: auto 35px;
      }

      &.features-it{
        background-color: $pc-blue;

        &:before{
          content:"";
          z-index: 2;
          width: 100%;
          position: absolute;
          top: -10px;
          display: block;
          height: 15px;
          background: $pc-pink;
          transform: rotate(-2deg) scale(1.2);
        }
      }

      & .feature{
        display: block;
      }
    }

  }
  // /.compare-wrap

  // .logo-wrap
  .logo-wrap{
    padding: 0;

    & li{
      width: 100%;
      & img{
        max-width: 80%;
        margin: 10px auto;
        display: table;
        text-align: center;
      }

    }

  }
  // /.logo-wrap

}